html {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to center, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 3%;
}

.body h1{
    color: #fff;
}

.container-input, .container-input_rr{
    max-width: 400px;
    height: auto;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #061700, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-radial-gradient(to bottom, #061700, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 1rem;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 3px rgb(0 0 0 / 30%);
}

.form-tittle{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-top: solid .2rem #ffffff;
    border-radius: 16px;
    margin-bottom: .5rem;
}

h1{
    padding: 25px;
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tables-custom-bg{
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #061700, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-radial-gradient(to bottom, #061700, #093028); 
}

.form-tittle h2{
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;
}

h2 span {
    color: #f39b53;
}

.input-reg{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-reg_rr{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input, .btn-enviar, .btn-fifo, .btn-rr {
    background-color: #fff;
    padding: .4rem;
    margin: .4rem 0rem;
    border: none;
    border-bottom: solid #c8c8c8 1px;
    transition: all .4s;
    outline: none;
    border-radius: 10px;
}

.btnCustom {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    font-weight: 400;
    border: #0F2027 solid 1px;
    box-shadow: #000000 inset 1px 1px;
    transition: all .4s;
    background-color: #008987;
    color: #fff;
    border-radius: 15px;
}

.btnCustom:hover {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    font-weight: 600;
    border-top: solid #c8c8c8 2px;
    border-left: solid #c8c8c8 2px;
    border-right: solid #c8c8c8 2px;
    border-bottom: solid #c8c8c8 2px;
    background-color: #003f21;
    color: #fff;
    border-radius: 15px;
    transition: all .4s;
    outline: none;
}

.btnCustom:disabled {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    font-weight: unset;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.btnCustom:disabled:hover {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    font-weight: unset;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}